.slide{
    margin-top: 10px;
}
.slide img{
    height: 65vh;
}
.carousel-inner .item img{
    height: 360px;
    width: 640px;
}
.logo{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.principal{
    width: 75%;
}