body{
    background-color: gray;
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 65vh;
}
.carousel-inner .item img{
    height: 360px;
    width: 640px;
}
.logo{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.inicio{
    height: 300px;
    width: 300px;
}
.fama{
    height: 350px;
    width: 650px;
    padding-top: 50px;
}
.last{
    height: 400px;
    width: 650px;
    padding-top: 60px;
}
.principal h1{
    text-align: center;
}
.table img{
 margin-left: 40px;
}