body{
    background-color: #f0f2f5;
}
#first{
    text-align: left;
    margin-top: 100px;
}
#resultadoPositivo{
    color: green;
}
#resultadoNegativo{
    color: red;
}
#second{
    background-color: #ffffff;
    height: 30%;
    width: 10px;
    margin-right: 100px;
    margin-top: 200px;
    padding-top: 50px;
    border-radius: 10px;
}
#error{
    background: red;
    box-shadow: 0 0 10px rgb(0,0,0,0,3);
    color:white;
    display: none;
    font-size: 16px;
    margin-top: -90px;
    margin-left: -120px;
    padding: 10px;
    position: absolute;
    width: 250px;
}
#exitoso{
    background:green;
    box-shadow: 0 0 10px rgb(0,0,0,0,3);
    color:white;
    display: none;
    font-size: 16px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-left: 25px;
    padding: 0px;
    position: absolute;
    width: 150px;
    height: 35px;
}
.centrar{
    margin: 50px;
}
.centrar h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 44px;
}

.form-check-label{
    color: #1877f2;
}
.form-check-label:hover{
    text-decoration: underline;
}
#btn-inicio{
background-color: #1877f2; 
}
#btn-inicio:hover{
    background-color: #1468d6;
}
#btn-crear{
    background-color: #42b72a;
    color: white;
}
#btn-crear:hover{
    background-color: #3aa025;
}
#registro{
    background-color: #ffffff;
    height: 70%;
    width: 70%;
    margin-left: 200px;
    margin-top: 200px;
    padding: 50px 50px;
    border-radius: 10px;
}
/* #principal{
    background-color: #f0f2f5;
    background-color: ;
    margin: 500px;
}
#exampleCheck1{
    margin-left: 20px;
} */