<h1>Modificación Exitosa!</h1>
<button id="volver">Volver</button>
<input type="hidden" id="llave" value="<%= id %>">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script> 
<script src="/volverInicio.js"></script>

