<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/712575d4a5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stilos.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="/cycl.ico" />
    <title>CRM Grupo 3</title>
  </head>
  <body>
      <div>
        <header class="header">
            <div class="container">
              <div class="btn-menu">
                <label for="btn-menu">☰</label>
              </div>
              <div class="logo">
                <h1>CRM Grupo 3</h1>
              </div>
              <nav class="menu">
                <a href="/inicio">Inicio</a>
              </nav>
            </div>
          </header>
          <div class="capa"></div>
          <!--	--------------->
          <input type="checkbox" id="btn-menu" />
          <div class="container-menu">
            <div class="cont-menu">
              <nav>
                <a href="/clientes">Clientes</a>
                <a href="#">Historico</a>
                <a href="#">Tareas</a>
              </nav>
              <label for="btn-menu">✖️</label>
            </div>
          </div>
      </div>
   

