body{
    background-color: lightgreen;
}
#botonera{
    background-color: rgb(180, 207, 216);
}
#pantalla{
    background-color: lightgreen;
}
h1{
    text-align: center;
}
#btn-letras{
    background-color: rgb(114, 30, 55);
}
#btn-sumatoria{
    background-color: rgb(8, 48, 48);
}
#pantalla{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}
#pantalla .btn{
    margin: 20px 0;
    border: rgb(82, 68, 62) solid 1px;
    align-items: center;
}
.btn-group{
    margin-left: 50px;
}
#mayuscula, #sumatoria, #calculadora{
    display: none;
}